<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.loginapp.servlet.Profile</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
</welcome-file-list>
  
<error-page>
<error-code>500</error-code>
<location>/login.jsp</location>
</error-page>  

<error-page>
<error-code>404</error-code>
<location>/error404.jsp</location>
</error-page>  
  
</web-app>